.burger_constructor {
  display: flex;
  flex-direction: column;
  width: 600px;
  height: 100%;
  color: var(--text-primary-color);
}

.static_item {
  flex-shrink: 0;
  margin-bottom: 16px;
  margin-left: 30px;
}

.scrollable_list {
  flex: 1;
  margin: 0;
  padding: 0 8px 16px 0;
  overflow-y: auto;
  list-style: none;
}

.constructor_item {
  display: flex;
  align-items: center;
  min-height: 80px;
  margin-bottom: 16px;
}

.priceContainer {
  display: flex;
  flex-shrink: 0;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  height: 40px;
  min-height: 40px;
  padding: 16px 0;
  background: #131316;
}
