.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: var(--text-primary-color);
  background-color: var(--background-alt);
}

.title {
  width: 100%;
  max-width: 1260px;
  margin-right: auto;
  margin-left: auto;
}

.main {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 100%;
  max-width: 1400px;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.main > :first-child {
  flex: 1;
  min-width: 0;
}

.main > :last-child {
  flex: 1;
  min-width: 0;
}
