.modal {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0 0 0 / 60%);
}

.closeIcon {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 10000;
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.modalContent {
  position: relative;
  z-index: 1001;
  display: inline-block;
}
